.Container {
  padding: 30px 0;
  width: 100%;
  position: relative;
  min-height: 400px;
}
.Container:last-child {
  margin-bottom: 0;
}

.Image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  background-size: cover;
  backdrop-filter: blur(3px);
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}
